.divClass {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    padding: 10px;
}
.formClass{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgb(105, 54, 153);
    width: 60%;
    box-shadow: 10px 10px 10px #9c7c7cc5;
    border-radius: 5px;
}
#formButton {
    background: #eb9e9e;
    margin-top: 20px;
    border-radius: 5px;
    font-size: 20px;
    color: aliceblue;
    margin-bottom: 5px;
    padding: 10px;
    border: none;
}
input {
    width: 90%;
    height: 25px;
}
label {
    margin-top: 10px;
}